CI=false
PORT=3000
HOST=0.0.0.0
DANGEROUSLY_DISABLE_HOST_CHECK=true
REACT_APP_ATTENDANCE_API_URL=
REACT_APP_HELPDESK_API_URL=
REACT_APP_HR_API_URL=
REACT_APP_IDENTITY_API_URL=
REACT_APP_PAYROLL_API_URL=
REACT_APP_RECRUITMENT_API_URL=