.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.scrollable-menu {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #c6e6ff transparent;
}

.scrollable-menu::-webkit-scrollbar {
  width: 6px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
  background-color: #c6e6ff;
  border-radius: 3px;
}

.scrollable-menu::-webkit-scrollbar-track {
  background: transparent;
}
